<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Moe@Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</head>
<body ng-app="moeathomeApp">
    <div class="ui fixed transparent inverted main menu" ng-controller="appDataCtrl" ng-init="init()">
        <div class="container">
            <a class="icon title item" href="#/">
                <i class="home icon"></i>
                <b>Moe@Home</b>
            </a>

            @*<div class="section ui dropdown item">
                    <span>开发</span>
                    <div class="menu">
                        <div class="active item">
                            @Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)
                        </div>
                    </div>
                </div>

                <div class="section ui dropdown item">
                    <span>ACG</span>
                    <div class="menu">
                        <div class="active item">
                            @Html.ActionLink("追新番", "Index", "ACG", new { area = "ACG" }, null)
                        </div>
                    </div>
                </div>*@
            <div class="right menu">
                <div class="item" ng-show="!loggedIn"><a href="#/login">登录</a></div>
                <div class="icon item" ng-show="loggedIn && isAdmin">
                    <i class="add icon"></i>
                    <a href="#/blog/post">写文章</a>
                </div>
                <div class="item" ng-show="loggedIn">
                    <span>Hi, <a href="#">{{userName}}</a>!</span>
                </div>
                <div class="icon item" ng-show="loggedIn">
                    <i class="off icon"></i>
                    <a href="#" ng-click="logOff()">退出</a>
                </div>
            </div>
        </div>
    </div>
    <div id="moeathome">
        <div id="title-segment" class="segment">
            <div class="container">
                <h1 class="ui header">SunnyCase@Home</h1>
                <p>puchi~ tomato</p>
            </div>
        </div>
        <div class="ui two column stackable page grid" style="padding:0;">
            <div class="thirteen wide column" style="margin-top:0;padding-left:0;">
                @RenderBody()
            </div>
            <div class="three wide column" ng-controller="sidebarCtrl" style="margin-top:0;padding-left:0;">
                <div class="ui segment">
                    <h3 class="ui dividing header">
                    <i class="icon inverted small circular blue location"></i> Links</h3>
                    <div class="ui list">
                        <div class="item" ng-repeat="link in links">
                            <i class="map marker icon"></i>
                            <a href="{{link.href}}" target="_blank">{{link.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Moe@Home &copy; @DateTime.Now.Year Designed by SunnyCase</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic")
    @Scripts.Render("~/bundles/highlight")
    <script type="text/javascript" src="@Url.Content("~/Scripts/tinymce/tinymce.js")"></script>
    @Scripts.Render("~/bundles/tinymce")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0973fdb88f3682a4165f3b7398259abe' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>
